.header{
    width: 100%;
    font-size: xx-large;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Grandstander', cursive;
    font-weight: 600;
}
.Note{
    font-size: large;
    
    
}
body{
    background-size: cover;
}



 

#songname{
    font-size: xx-large;
    width: 450px;
    font-family: 'Oxygen', sans-serif;
}

canvas{
    border: 5px solid darkblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin-top: 40px;
    background-color: rgba(0, 19, 124, 0.658);
}